@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap);
@import "./layout.css";
@import "./postsStyle/postStyle.css";

/* Defining colors to use as variables */
:root {
    --main-color: #1E2A3A;
    --second-color: #161E29;
    --third-color: #73BF27;
    --font-color: #F6FCFF;
    --main-background: #111822;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--main-background);
}

a {
    color: var(--third-color);
}

a:hover {
    color: var(--font-color);
}

/* Media queries for responsiveness */
@media screen and (max-width: 1450px) {
    .header {
        border-radius: 0 0 1rem 0;
    }

    .mainContent {
        border-radius: 0 1rem 1rem 0;
    }

    .footer {
        border-radius: 0 1rem 0 0;
    }
}

@media screen and (max-width: 900px) {
    .mainLayoutContainer {
        grid-template-areas:
            "head head head head head head head"
            "side side side side side side side"
            "main main main main main main main"
            "ft ft ft ft ft ft ft";
        gap: 0.5rem;
        grid-template-columns: 1fr;
    }

    .header,
    .mainContent,
    .footer {
        border-radius: 0;
    }

    .sideBar {
        text-align: left;
    }

    .aboutContainer {
        display: flex;
        gap: 1rem;
    }

    .timeContainer {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    .circle {
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
        margin: 3rem 1rem;
        font-size: 1.5rem;
    }

    .previewContainer {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        padding: 2rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 475px) {
    .aboutContainer {
        gap: 0;
    }

    .circle {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        border: none;
    }

    .circle::after {
        content: "";
    }

    .previewContainer {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 0.5rem;
        padding: 1rem 0.5rem;
    }

    .blogViewBox {
        padding: 2rem;
        margin: 0;
    }
}