/* For blog post pages */

.blogViewBox {
  background-color: var(--second-color);
  color: var(--font-color);
  padding: 2vw;
  margin: 1rem 0;
  line-height: 1.5rem;
  border-radius: 0 1rem 1rem 0;
}

.blogViewBox p, .blogViewBox blockquote, .blogViewBox h3 {
  padding: 0 1vw;
  margin: 0;
}

.blogHead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 25vw;
}

code {
  display: block;
  background-color: var(--main-background);
  border-left: 2px solid var(--third-color);
  color: var(--font-color);
  line-height: 1.5rem;
  text-align: left;
}

pre {
  white-space: pre-wrap;
}

.boxNav {
  display: flex;
  justify-content: space-between;
}